.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.buttonContainer {
  display: flex;
}

.button {
  height: 60px;
  width: 150px;
  margin: 30px 20px 10px 20px;
  text-align: center;
  background-color: slategrey;
  border-radius: 5px;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}

.nextButton {
  height: 40px;
  width: 150px;
  margin: 30px 10px 10px 10px;
  text-align: center;
  background-color: slategrey;
  border-radius: 5px;
  font-size: 15px;
}

#scoreLabel {
  visibility: hidden;
  margin-top: 50px;
}